.order .order_top {
  width: 750px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  font-size: 32px;
  background: #f7f7f7;
}

.order .order_top .top_back {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 33px;
  left: 50px;
  background: url("../../img/left.png") no-repeat;
}

.order .order-nav {
  width: 750px;
  height: 88px;
  display: flex;
  justify-content: space-around;
  line-height: 88px;
  padding: 0 30px;
  font-size: 28px;
  color: #000;
}

.order .order-nav p {
  position: relative;
}

.order .order-nav p .order_symbol {
  width: 72px;
  height: 12px;
  border-radius: 6px;
  background: #fed101;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -36px;
  margin-top: 10px;
}

.order .order-nav .order_active {
  font-weight: 700;
  font-size: 32px;
}
