.list .list_top {
  width: 750px;
  height: 537px;
  background-image: url("../../img/bg.9c1ef3a.png");
  background-size: 750px 420px;
  background-repeat: no-repeat;
}

.list .list_top .list_top_header {
  height: 78px;
  position: relative;
}

.list .list_top .list_top_header .top_back {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 5px;
  top: 20px;
  background-image: url("../../img/list_back.png");
}

.list .list_top .list_top_header .top_title {
  width: 108px;
  height: 48px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 320px;
}

.list .list_top .list_top_header .username {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5px;
  top: 20px;
  background-image: url("../../img/list_name.png");
}

.list .list_top .list_top_search {
  height: 112;
  margin: 0 20px;
  padding: 28px 0 24px;
}

.list .list_top .list_top_search a {
  display: block;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
}

.list .list_top .list_top_search a span {
  width: 270px;
  height: 38px;
  font-size: 28px;
  padding-left: 34px;
  color: #fff;
  background-image: url(../../img/list_search.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 5px 10px;
}

.list .list_top .list_top_banner {
  margin: 0 20px;
}

.list .list_top .list_top_banner .slider-frame {
  border-radius: 20px;
}

.list .list_nav {
  height: 143px;
  margin: 0px 0 36px;
  padding-top: 23px;
  overflow: hidden;
}

.list .list_popular .popular__top {
  height: 98px;
  padding: 24px 16px 0 21px;
}

.list .list_popular .popular__top .title_box {
  width: 400px;
  height: 52px;
  font-size: 28px;
}

.list .list_popular .popular__top .title_box p {
  float: left;
  line-height: 52px;
  margin-right: 61px;
  color: #000;
}

.list .list_popular .popular__top .title_box .curtive {
  font-size: 40px;
  font-weight: bold;
}

.list .list_popular .Popular {
  width: 750px;
  height: 377px;
  overflow: hidden;
}

.list .list_musthave {
  margin: 14px 20px 0px;
}

.list .list_musthave .musthave_title {
  height: 96px;
  color: #333;
  font-size: 40px;
  font-weight: 700;
  line-height: 96px;
}

.list .list_musthave .list {
  width: 710px;
  height: 170px;
  border-radius: 85px;
  background: #fff;
  box-shadow: 0 1px 0.2rem 0 rgba(135, 135, 135, 0.1);
}

.list .list_musthave a {
  float: left;
  width: 33.3%;
  height: 100%;
  padding-top: 42px;
  text-align: center;
}

.list .list_musthave a p {
  height: 34px;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #555;
}

.list .list_musthave a span {
  height: 16px;
  font-size: 24px;
  color: #9a9a9a;
}

.list .list_musthave a:nth-of-type(1) {
  background: url("../../img/must1.png") center 40px no-repeat;
}

.list .list_musthave a:nth-of-type(2) {
  background: url("../../img/xian.png") 210px 50px no-repeat, url("../../img/xian.png") 0px 50px no-repeat, url("../../img/must2.png") center 40px no-repeat;
}

.list .list_musthave a:nth-of-type(3) {
  background: url("../../img/must3.png") center 40px no-repeat;
}

.list .list_waterfall {
  margin-top: 50px;
}

.list .list_waterfall .waterfall_title {
  margin: 10px 0 20px;
  height: 100px;
  width: 530px;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}

.list .list_waterfall .waterfall_title .waterfall_title_item {
  height: 62px;
  margin-top: 15px;
  font-size: 30px;
}

.list .list_waterfall .waterfall_title .waterfall_active {
  font-size: 40px;
  font-weight: 700;
  background: url("../../img/waterfall.png") no-repeat;
  background-size: 80px 62px;
  background-position: center center;
}

.list .list_waterfall .waterfall_container {
  padding: 0 20px;
}

.list .list_waterfall .waterfall_container .waterfall_container_none {
  display: none;
}

.list .list_waterfall .waterfall_container .waterfall_container_item {
  display: block;
}

.list .list_waterfall .waterfall_container .water {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list .list_waterfall .waterfall_container .water .min_item {
  width: 345px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative;
}

.list .list_waterfall .waterfall_container .water .min_item img {
  width: 345px;
  height: 260px;
  border-radius: 20px 20px 0 0;
}

.list .list_waterfall .waterfall_container .water .min_item .city {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 24px;
  padding: 0 15px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  border-radius: 18px 0 18px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.list .list_waterfall .waterfall_container .water .min_item .item_box {
  width: 344px;
  height: 226px;
}

.list .list_waterfall .waterfall_container .water .min_item .item_box .name {
  color: #333;
  font-size: 28px;
  padding: 24px 16px 0 19px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 8px;
}

.list .list_waterfall .waterfall_container .water .min_item .item_box .type {
  margin-left: 15px;
  font-size: 26px;
  color: #999;
  font-size: 22px;
  line-height: 22px;
}

.list .list_waterfall .waterfall_container .water .min_item .item_box .tag {
  height: 26px;
  margin: 16px 0 0 14px;
  display: flex;
  justify-content: space-between;
  color: #e39e30;
  font-size: 22px;
}

.list .list_waterfall .waterfall_container .water .min_item .item_box .tag span {
  border: 1px solid #e39e30;
  padding: 0 10px;
}

.list .list_waterfall .waterfall_container .water .min_item .item_box .f_item_f {
  height: 34px;
  margin: 24px 14px 0 14px;
  display: flex;
  justify-content: space-between;
}

.list .list_waterfall .waterfall_container .water .min_item .item_box .f_item_f .price {
  color: #ff7100;
  font-size: 34px;
  font-weight: 500;
}

.list .list_waterfall .waterfall_container .water .min_item .item_box .f_item_f .enroll_num {
  margin-top: 10px;
  font-size: 24px;
  color: #999;
}
