*{
    margin: 0px;
    padding: 0px;
  }
  
.App{
    .navigator{
        width: 750px;
        height: 110px;
        font-size: 48px;
        background: #fff;
        position: fixed;
        bottom: 0px;
        z-index: 1000;
        a{
            display: inline-block;
            width: 33%;
            height: 100%;
            text-align: center;
            span{
                display: block;
                font-size: 24px ;
                color: #333;
                margin-top: 5px;
            }
            p{
                height: 65px;
            }
        }
      }
}
